* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --capuccino: #A87676;
    --rosao: #CA8787;
    --nude: #E1ACAC;
    --rosinha: #ffeeee;
}

body {
    background-color: var(--rosinha);
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 70% 20%;
    background-color: var(--capuccino);
    padding: 25px;
    align-items: center;
}

header img {
    width: 70%;
    margin: 10px;
    border-radius: 50px;
}

.titulocabecalho h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

.menuzinho button {
    background-color: var(--rosao);
    border: none;
    padding: 10px 15px;
    margin: 0px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.menuzinho a {
    text-decoration: none;
    color: white;
}

.conteudo {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}

.receita h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.colunas {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
    align-items: stretch; /* agora os dois lados têm a mesma altura */
}

.texto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.ingredientes, .preparo {
    margin-bottom: 20px;
}

.ingredientes h4 h3, .preparo h4 h3 {
    margin-bottom: 10px;
    color: var(--capuccino);
}

.ingredientes ul, .preparo ol {
    margin-left: 20px;
    line-height: 1.6;
}

.imagem img {
    width: 100%;
    height: 100%; /* preenche a altura da coluna */
    object-fit: cover; /* evita distorção */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

footer {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    background-color: var(--capuccino);
    text-align: center;
    padding: 20px;
}

footer img {
    width: 80%;
    border-radius: 55px;
}

.icones h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin: 10px;
}

.icones a {
    color: var(--nude); 
    font-size: 30px; 
    margin: 0 10px;
    transition: color 0.3s;
}

.icones a:hover {
    color: var(--rosao); 
}