* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --capuccino: #A87676;
    --rosao: #CA8787;
    --nude: #E1ACAC;
    --rosinha: #ffeeee;
}

header {
     display: grid;
    width: 100%;
    grid-template-columns: 10% 70% 20%;
    background-color: var(--capuccino);
    padding: 25px;
    position: relative;
    align-items: center;
    justify-content: center;
}

header img {
    width: 70%;
    margin: 10px;
    border-radius: 50px;
}

.titulocabecalho h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
}

.menuzinho button {
    text-decoration: none;
    background-color: var(--rosao);
    color: white;
    border: #895d5d;
    padding: 10px 15px;
    margin: 0px 8px;
    border-radius: 5px;
}

.menuzinho a {
    text-decoration: none;
    color: white;
}
body {
    background-color: var(--rosinha);
}