* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --capuccino: #A87676;
    --rosao: #CA8787;
    --nude: #E1ACAC;
    --rosinha: #ffeeee;
}

.menuzinho button {
    text-decoration: none;
    background-color: var(--rosao);
    color: white;
    border: var(--capuccino);
    padding: 5px 10px;
    margin: 0px 8px;
    border-radius: 5px;
}

.menuzinho a {
    text-decoration: none;
    color: white;
}