* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --capuccino: #A87676;
    --rosao: #CA8787;
    --nude: #E1ACAC;
    --rosinha: #ffeeee;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--capuccino);
    padding: 25px;
    position: relative;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--rosinha);
}

.titulocabecalho h1 {
    font-size: 70px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
    gap: 30px;
    align-content: center;
}

.receitinha {
    display: flex;
    justify-content: center;
    /* display: flex;
    justify-content: center;
    background-color: var(--nude);
    border-radius: 15px;
    padding: 55px;
    width: 60%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); */
}

.receitinha a {
    color: black;
    font-size: 45px;
    text-decoration: none;
    padding: 30px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 15px;
}